ENVIREMENT=development
MONGO_URI=mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.3.9
JWT_SECRET=my-secret-token-that-you-dont-know
TELEGRAM_BOT_TOKEN=token

